.heroLogo {
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  height: auto;
  display: block;
  position: relative;
  overflow: hidden;
  background: #691a1a;
  border-radius: 50%!important;
  box-shadow: 7px 3px 3px 0px #575757;
}

.heroLogo:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.heroWrapper {
  max-width: 1140px;
}